<form action="/s_player_form" >
  <button type="submit" value="Single_player">Single Player</button>
</form>


<form action="/player_form" >
  <button type="submit" value="Multiplayer">Multiplayer</button>
</form>
