<form action="/player_form" method='post' >
  <button type="submit" name="game_type" value='Single Player'>Single Player</button>
  <button type="submit" name="game_type" value='Multiplayer'>Multiplayer</button>
</form>