<h1>Single Player</h1>

<form action="/names" method="post">
  <div>
    <label for="player1">Player 1: </label>
    <input type="text" name ="player1">
    <input type='hidden' name="palyer2" value='Computer'>
    <input type="submit" value="Let's PLAY!">
  </div>
</form>
